.fondo3  {
    background-image: url(../assets/img/fondo3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    z-index: -100;
    display:grid;
    grid-template-rows: auto 1 fr auto;
}